* {
    font-family:sans-serif;
    margin:0;
    padding:0;
  }

  body {
    max-width:675px;
    min-width:250px;
    background-color:#202020;
    margin-left: 10%;
    margin-right:10%;
  }
  
  h1 {
    color:#454545;
    text-align:center;
  }
   h2 {
    color:#454545;
    text-align:center;
	font-size: 100%; 
  }
   #lum {
    color:#454545;
	font-weight:bold;
	text-align:center;
	border:2px solid #454545;
    border-radius:5px;
	width: 240px;
	margin: auto;
    padding:5px 5px;
  }
  
  #controls {
    text-align:center;
    width:100%;
    display:inline-block;
  }

  ul {
    text-align:center;
  }

  ul#mode li {
    display:block;
  }

  ul#brightness li, ul#speed li {
    display:inline-block;
    width:30%;
  }
   ul#power li {
    display:block;
    margin:3px;
    padding:10px 5px;
    border:2px solid #454545;
    border-radius:5px;
    color:#454545;
    font-weight:bold;
    text-decoration:none;
    display:inline-block;
    width:30%;
  }

  ul li a {
    display:block;
    margin:3px;
    padding:10px 5px;
    border:2px solid #454545;
    border-radius:5px;
    color:#454545;
    font-weight:bold;
    text-decoration:none;
  }

  ul li a.active {
    border:2px solid #909090;
    color:#909090;
  }

  .dropbtn {
   display:block;
    margin:3px;
    padding: 16px;
    font-size: 16px;
    border:2px solid #ffffff;
   background-color:#202020;
    font-weight:bold;
    text-decoration:none;
    cursor: pointer;
    min-width: 240px;
    color:#454545;
    border-radius:5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#202020;
    color:#454545;
    max-height:400px;
    overflow-y: scroll;

}

.dropdown-content a {
    display:block;
    margin:3px;
    padding:10px;
    border:2px solid #454545;
    border-radius:5px;
    color:#454545;
    font-weight:bold;
    text-decoration:none;
    cursor: pointer;
    min-width: 218px;

}

.dropdown-content a:hover {background-color: #909090}

.dropdown:hover .dropdown-content {
    display: block;
}

.button {
    background-color: #00ff00; /* Vert */
    border:2px solid #454545;
    border-radius:5px;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	font-weight:bold;
}

.button2 {background-color: #0000ff;} /* Bleu */
.button3 {background-color: #ff0000;} /* Rouge */ 
.button4 {background-color: #ff00ff;} /* Fuchsia */ 
.button5 {background-color: #9900ff;} /* Violet */ 
.button6 {background-color: #FF9E25;} /* Blanc chaud */

#config {
	display:block;
    margin:auto;
    padding:10px;
    border:2px solid #454545;
    border-radius:5px;
    color:#454545;
    font-weight:bold;
    text-decoration:none;
    cursor: pointer;
    min-width: 218px;
	width: 30%;
	}
#bouton {
border:2px solid #454545;
border-radius: 5px;
}

